extends layout 

block titre_page 
    title Créer un profil utilisateur

block contenu_page
    h1 Créer un profil utilisateur
    .row 
        form
            .input-field 
                input(type="email" name="email" id="email")
                label(for="email") votre email 
            .input-field 
                input(type="password" name="password" id="password")
                label(for="password") votre password 
            input(type="submit" class="waves-effect waves-light btn purple darken-1 submit-btn")

block script_page 
    script(src="/add-user.js")