extends layout 

block titre_page 
    title Bienvenue sur le site

block contenu_page
    h1.center Bienvenue sur la nouvelle application 
    div.row
        .col.s12
            .card.deep-purple 
                p.card-title.white-text.center Bienvenue
                .card-content.white-text
                    p Ici tu vas faire des petites révisions pour apprendre tes tables de multiplication tout en s'amusant!
                    p Mais pour cela tu dois d'abord te créer un compte et te connecter.