nav 
    .nav-wrapper.deep-purple
        ul.left
            li: a(href="/home") Accueil
            if session 
                li: a(href="/quizz") Quizz
                li: a(href="/history") Historique
        ul.right 
                if !session
                    li: a(href="/add-user") Créer profil
                    li: a(href="/connexion") Connexion
                if session
                    li: a(href="/deconnexion").deconnexion Déconnexion
                    script. 
                        document.querySelector(".deconnexion").addEventListener("click", e => {
                            e.preventDefault()
                            const req = new XMLHttpRequest()
                            req.open("GET","/delete-cookie");
                            req.send()
                            req.onload = () => {
                                if(req.status === 200){
                                    console.log(req.responseText)
                                    window.location.href = "/connexion";
                                }
                            }
                        })